.InputfieldImagePicker img {
    cursor: pointer;
}

.InputfieldImagePicker .imagepicker_thumbholder {
    margin-bottom: 1px;
}

.InputfieldImagePicker .uk-thumbnav li {
    flex: 0 0 auto;
    margin-bottom: 20px;
}

.InputfieldImagePicker .uk-panel {
    border: 1px solid #d9e1ea;
    padding: 25px;
    min-width: 100px;
    display: inline-block;
    position: relative;
}

.InputfieldImagePicker .uk-panel span {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.InputfieldImagePicker .uk-panel > div {
	background-color: #eee;
	padding: 10px;
	font-size: .75rem;
    margin-top: 1rem;
    word-wrap: break-word;
}

.InputfieldImagePicker .InputfieldMarkup  .InputfieldContent {
    position: relative;
}

.InputfieldImagePicker .InputfieldMarkup  .InputfieldContent .imagepicker_editimages {
    position: absolute;
    right: 50px;
    top: -40px;
}
